<a href="https://colab.research.google.com/github/raymondyapkt/Data-Analysis/blob/main/Data_Analysys_Pandas_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
df = pd.read_csv("adult.data.csv")

In [4]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
round( (len( df.loc[df['education'] == "Bachelors", ['education']])/ len(df))*100,1)

16.4

In [ ]:
(len( (df.loc[df['education']=="Bachelors", ['education']])['education'] )/len(df))

0.16446055096587942

In [ ]:
len(df)

32561

In [ ]:
df.shape

(32561, 15)

In [ ]:
df['race'].value_counts()

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [ ]:
df['race'].value_counts().tolist()

[27816, 3124, 1039, 311, 271]

In [ ]:
df['age'].mean().round(decimals = 1)

38.6

In [ ]:
(df.loc[df['sex'] == "Male", ["age","sex"]])['age'].mean().round(decimals = 1)

39.4

df['Population'] > 70
df.loc[df['Population'] > 70]
df.loc[df['Population'] > 70, ['Population', 'GDP']]

In [20]:
  df50k = df.loc[df['salary'] == ">50K"]
  df50kIo = df50k.loc[df50k['native-country'] == "India", ['occupation']]
  oID50kImax = df50kIo.value_counts().idxmax()

In [21]:
  df50kIo = df50k.loc[df50k['native-country'] == "India", ['occupation']]

In [22]:
  oID50kImax = df50kIo.value_counts().idxmax()

In [25]:
import re

top_IN_occupation = re.sub(r',(?=\))', '', str(oID50kImax))

print (top_IN_occupation)

('Prof-specialty')